@font-face {
  font-family: 'HeroFont';
  src: url('../public/font/HeroFont.woff') format('truetype');
}

@font-face {
  font-family: 'ContentFont';
  src: url('../public/font/Poppins.ttf') format('truetype');
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
}
